<h2>Fluent button:</h2>
<fluent-button class="light-3">Fluent button</fluent-button> <br>
<fluent-button class="light-2">Fluent button</fluent-button> <br>
<fluent-button class="light-1">Fluent button</fluent-button> <br>
<br>
<fluent-button>Fluent button</fluent-button> <br>
<br>
<fluent-button class="dark-1">Fluent button</fluent-button> <br>
<fluent-button class="dark-2">Fluent button</fluent-button> <br>
<fluent-button class="dark-3">Fluent button</fluent-button> <br>

<h2>Disabled : </h2>
<fluent-button disabled class="light-3">Fluent button</fluent-button> <br>
<fluent-button disabled class="light-2">Fluent button</fluent-button> <br>
<fluent-button disabled class="light-1">Fluent button</fluent-button> <br>
<br>
<fluent-button disabled>Fluent button</fluent-button> <br>
<br>
<fluent-button disabled class="dark-1">Fluent button</fluent-button> <br>
<fluent-button disabled class="dark-2">Fluent button</fluent-button> <br>
<fluent-button disabled class="dark-3">Fluent button</fluent-button> <br>


