<h2>Fluent Button</h2>

<!--
  Default button behaviour and styles.
  Add the `fluent-button` attribute to a `button` element.
  Available classes include :
  `light-1`   : 10% lighter than the base color
  `light-2`   : 20% lighter than the base color
  `light-3`   : 30% lighter than the base color
  `dark-1`    : 10% darker than the base color
  `dark-2`    : 20% darker than the base color
  `dark-3`    : 30% darker than the base color

  The light & dark classes classes can be combined with the following tint classes:
  `fluent-warn`     : a warning tint (by default red)
  `fluent-accent`   : an accent tint (by default ???)
  `fluent-primary`  : the primary tint (by default blue)
-->
<fieldset>
  <legend>Basic Usage</legend>
  <div style="display: flex; flex-direction: row;flex-wrap: wrap;">
    <!-- default -->
    <div style="display: flex; flex-direction: column; justify-content: center; width:150px; align-items: stretch;">
      <button fluent-button [disabled]="isDisabled" class="light-3" (click)="onClick('Light 3')">
        Default Light 3
      </button>
      <button fluent-button [disabled]="isDisabled" class="light-2" (click)="onClick('Light 2')">
        Default Light 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="light-1" (click)="onClick('Light 1')">
        Default Light 1
      </button>
      <button fluent-button [disabled]="isDisabled" (click)="onClick('Default')">
        Default
      </button>
      <button fluent-button [disabled]="isDisabled" class="dark-1" (click)="onClick('Dark 1')">
        Default Dark 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="dark-2" (click)="onClick('Dark 2')">
        Default Dark 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="dark-3" (click)="onClick('Dark 3')">
        Default Dark 3
      </button>
    </div>
    <!-- fluent-accent -->
    <div style="display: flex; flex-direction: column; justify-content: center; width:150px; align-items: stretch;">
      <button fluent-button [disabled]="isDisabled" class="fluent-accent light-3" (click)="onClick('Accent')">
        Accent Light 3
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent light-2" (click)="onClick('Accent')">
        Accent Light 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent light-1" (click)="onClick('Accent')">
        Accent Light 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent" (click)="onClick('Accent')">
        Accent Default
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent dark-1" (click)="onClick('Accent')">
        Accent Dark 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent dark-2" (click)="onClick('Accent')">
        Accent Dark 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-accent dark-3" (click)="onClick('Accent')">
        Accent Dark 3
      </button>
    </div>
    <!-- fluent-primary -->
    <div style="display: flex; flex-direction: column; justify-content: center; width:150px; align-items: stretch;">
      <button fluent-button [disabled]="isDisabled" class="fluent-primary light-3" (click)="onClick('Primary')">
        Primary Light 3
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary light-2" (click)="onClick('Primary')">
        Primary Light 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary light-1" (click)="onClick('Primary')">
        Primary Light 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary" (click)="onClick('Primary')">
        Primary Default
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary dark-1" (click)="onClick('Primary')">
        Primary Dark 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary dark-2" (click)="onClick('Primary')">
        Primary Dark 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-primary dark-3" (click)="onClick('Primary')">
        Primary Dark 3
      </button>
    </div>
    <!-- fluent-warn -->
    <div style="display: flex; flex-direction: column; justify-content: center; width:150px; align-items: stretch;">
      <button fluent-button [disabled]="isDisabled" class="fluent-warn light-3" (click)="onClick('Warn')">
        Warn Light 3
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn light-2" (click)="onClick('Warn')">
        Warn Light 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn light-1" (click)="onClick('Warn')">
        Warn Light 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn" (click)="onClick('Warn')">
        Warn Default
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn dark-1" (click)="onClick('Warn')">
        Warn Dark 1
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn dark-2" (click)="onClick('Warn')">
        Warn Dark 2
      </button>
      <button fluent-button [disabled]="isDisabled" class="fluent-warn dark-3" (click)="onClick('Warn')">
        Warn Dark 3
      </button>
    </div>
  </div>
  <fluent-check-box [(ngModel)]="isDisabled">Disable buttons</fluent-check-box>
</fieldset>

<br>

<fieldset>
  <legend>Big widths</legend>
  <div style="display: flex; flex-direction: row">
    <button style="width:50%;" fluent-button>50%</button>
    <button style="width:25%;" fluent-button>25%</button>
    <button style="width:10%;" fluent-button>10%</button>
  </div>
</fieldset>

<br>

<fieldset>
  <legend>Icons & Images</legend>
  <button fluent-button>🔥</button>
  <button fluent-button>🔥 Unicode Emoji</button>
  <button fluent-button>
    <i fluent-icon-name="CallForwarding"></i>
  </button>
  <button fluent-button>
    <i fluent-icon="&#xE7F2;"></i>
    Segoe MDL2 Assets icon
  </button>
  <button fluent-button><img width="100" height="100" src="../assets/button_image.png"/></button>
</fieldset>

<br>

<fieldset id="coolFieldSet">
  <legend>Button + Reveal</legend>

  <button fluent-button
          fluentReveal
          revealRadialColor="red"
          [revealThickness]="10"
          [revealMargin]="2">
    With Reveal options
  </button>
  <button fluent-button fluentReveal>One</button>
  <button fluent-button fluentReveal>✌</button>
  <button fluent-button fluentReveal>
    <i fluent-icon-name="ThreeBars"></i>
  </button>

  <div style="height:200px; width:200px; background-color:rgba(255,0,0,.5);" fluentReveal [revealThickness]="5">
    <span>Div including content with Reveal</span>
  </div>

  <span fluentReveal>Span with reveal, because why not</span>

  <p><b>Generated with ngFor</b></p>

  <div style="display: flex;flex-direction: row;flex-wrap: wrap;">
    <button fluent-button
            fluentReveal
            revealParentElementId="coolFieldSet"
            [disabled]="isDisabled"
            [fluentReveal]="isRevealEnabled"
            [ngClass]="[mainColor, colorTint]"
            [revealMargin]="revealMargin"
            [revealThickness]="revealBorderThickness"
            [revealRadialDiameter]="revealRadialDiameter"
            *ngFor="let b of buttonList; index as i">
      Button {{i}}
    </button>
  </div>

  <div style="display:flex;flex-direction: row">
    <div style="display:flex;flex-direction: column">
      <fluent-check-box [(ngModel)]="isRevealEnabled">Enable Reveal</fluent-check-box>
      <fluent-check-box [(ngModel)]="isDisabled">Disable buttons</fluent-check-box>
    </div>

    <div style="display:flex;flex-direction: column">
      <label><input type="radio" name="mainColor" [(ngModel)]="mainColor" value="">Default</label>
      <label><input type="radio" name="mainColor" [(ngModel)]="mainColor" value="fluent-primary">Primary</label>
      <label><input type="radio" name="mainColor" [(ngModel)]="mainColor" value="fluent-accent">Accent</label>
      <label><input type="radio" name="mainColor" [(ngModel)]="mainColor" value="fluent-warn">Warn</label>
    </div>

    <div style="display:flex;flex-direction: column">
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="light-3">Light 3</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="light-2">Light 2</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="light-1">Light 1</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="">Default</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="dark-1">Dark 1</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="dark-2">Dark 2</label>
      <label><input type="radio" name="colorTint" [(ngModel)]="colorTint" value="dark-3">Dark 3</label>
    </div>

    <div style="display:flex;flex-direction: column">
      <label>
        <input type="number" min="0" step="1" [(ngModel)]="buttonCount" (change)="onButtonCountChange()">
        Button Count
      </label>
      <label>
        <input type="number" min="1" step="1" [(ngModel)]="revealRadialDiameter">
        Radial Diameter
      </label>
      <label>
        <input type="number" min="0" step="1" [(ngModel)]="revealBorderThickness">
        Border Thickness
      </label>
      <label>
        <input type="number" min="0" step="1" [(ngModel)]="revealMargin">
        Margin
      </label>
    </div>

  </div>
</fieldset>

<fieldset>
  <legend>CheckBox</legend>

  <div style="display: flex; flex-direction: row;">
    <!-- Options -->
    <div style="display: flex; flex-direction: column; width: fit-content">
      <fluent-check-box [(ngModel)]="checkboxDisabled">Disable checkbox</fluent-check-box>
      <fluent-check-box [(ngModel)]="checkboxLabelBefore">Label before</fluent-check-box>
      <fluent-check-box [(ngModel)]="checkboxIndeterminate">Indeterminate</fluent-check-box>
    </div>

    <!-- Preview -->
    <div style="display: flex; flex-direction: column; width: fit-content">
      <label>
        <input type="checkbox"
               [(ngModel)]="checkboxChecked"
               [disabled]="checkboxDisabled"
               [indeterminate]="checkboxIndeterminate">
        Regular checkbox
      </label>

      <fluent-check-box [(ngModel)]="checkboxChecked"
                        [labelBefore]="checkboxLabelBefore"
                        [disabled]="checkboxDisabled"
                        [ngClass]="[mainColor, colorTint]"
                        [(indeterminate)]="checkboxIndeterminate">
        Fluent checkbox
      </fluent-check-box>
    </div>
  </div>
</fieldset>

<fieldset id="acrylic-parent-demo" style="position:relative;">
  <legend>Acrylic</legend>

  <div style="max-height:350px; overflow-y:scroll;">
    <!-- Background checkerboard -->
    <div style="width:400px; height:auto; background:red; display: flex; flex-wrap: wrap;">
      <div *ngFor="let checker of backgroundBoxCount"
           style="width:44px; height:44px; background-color:black; border:18px solid white;">
      </div>
    </div>
  </div>

  <!-- Acrylic elements -->
  <div style="width:100px; height:250px; top:60px; left:50px;"
       fluentAcrylic
       acrylicIntensity="1"
       acrylicPosition="absolute"
       acrylicParentElementId="acrylic-parent-demo">
    <h3 style="text-align: center;">1x Blur</h3>
  </div>
  <div style="width:100px; height:250px; top:60px; left:160px;"
       fluentAcrylic
       acrylicIntensity="5"
       acrylicPosition="absolute"
       acrylicParentElementId="acrylic-parent-demo">
    <h3 style="text-align: center;">5x Blur</h3>
  </div>
  <div style="width:100px; height:250px; top:60px; left:270px;"
       fluentAcrylic
       acrylicIntensity="10"
       acrylicPosition="absolute"
       acrylicParentElementId="acrylic-parent-demo">
    <h3 style="text-align: center;">10x Blur</h3>
  </div>
</fieldset>


